<script src="./js/calendar.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card" id="jumbo">
                <div class="container  card-header">
                    <div class="row">
                        <div class="col-md-4">
                            <button id="addUserModal" type="submit" class="btn btn-sm btn-default" data-toggle="modal"
                                data-target="#Modal1">Add Employee</button>
                            <br>
                            <button id="addUserModal" type="submit" class="btn btn-sm btn-default" data-toggle="modal"
                                data-target="#Modal2">Add Shift</button>
                            <button id="addUserModal" type="submit" class="btn btn-sm btn-default" data-toggle="modal"
                                data-target="#Modal5">Add Job Positions</button>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <div id="titleMonth">

                                </div>
                                <div>
                                    <button class="btn btn-sm btn-default changeMonth" value="back">&lt;</button>
                                    <button class="btn btn-sm btn-default changeMonth" value="forward">&gt;</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card" id="card1">
                <table id="calendar">
                    <tr>
                        <th class="headerDays">Sun</th>
                        <th class="headerDays">Mon</th>
                        <th class="headerDays">Tue</th>
                        <th class="headerDays">Wed</th>
                        <th class="headerDays">Thu</th>
                        <th class="headerDays">Fri</th>
                        <th class="headerDays">Sat</th>
                    </tr>
                    <tr>
                        <td class="days" id="Sun1">1.</td>
                        <td class="days" id="Mon1">2.</td>
                        <td class="days" id="Tue1">3.</td>
                        <td class="days" id="Wed1">4.</td>
                        <td class="days" id="Thu1">5.</td>
                        <td class="days" id="Fri1">6.</td>
                        <td class="days" id="Sat1">7.</td>
                    </tr>
                    <tr>
                        <td class="days" id="Sun2">8.</td>
                        <td class="days" id="Mon2">9.</td>
                        <td class="days" id="Tue2">10.</td>
                        <td class="days" id="Wed2">11.</td>
                        <td class="days" id="Thu2">12.</td>
                        <td class="days" id="Fri2">13.</td>
                        <td class="days" id="Sat2">14.</td>
                    </tr>
                    <tr>
                        <td class="days" id="Sun3">15.</td>
                        <td class="days" id="Mon3">16.</td>
                        <td class="days" id="Tue3">17.</td>
                        <td class="days" id="Wed3">18.</td>
                        <td class="days" id="Thu3">19.</td>
                        <td class="days" id="Fri3">20.</td>
                        <td class="days" id="Sat3">21.</td>
                    </tr>
                    <tr>
                        <td class="days" id="Sun4">22.</td>
                        <td class="days" id="Mon4">23.</td>
                        <td class="days" id="Tue4">24.</td>
                        <td class="days" id="Wed4">25.</td>
                        <td class="days" id="Thu4">26.</td>
                        <td class="days" id="Fri4">27.</td>
                        <td class="days" id="Sat4">28.</td>
                    </tr>
                    <tr>
                        <td class="days" id="Sun5">29.</td>
                        <td class="days" id="Mon5">30.</td>
                        <td class="days" id="Tue5">31.</td>
                        <td class="days" id="Wed5">32.</td>
                        <td class="days" id="Thu5">33.</td>
                        <td class="days" id="Fri5">34.</td>
                        <td class="days" id="Sat5">35.</td>
                    </tr>
                    <tr>
                        <td class="days" id="Sun6">36.</td>
                        <td class="days" id="Mon6">37.</td>
                        <td class="days" id="Tue6">38.</td>
                        <td class="days" id="Wed6">39.</td>
                        <td class="days" id="Thu6">40.</td>
                        <td class="days" id="Fri6">41.</td>
                        <td class="days" id="Sat6">42.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Add an Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <form id="form">
                                <h6>Enter Employee's Full Name</h6>
                                <input id="addFullName" rows="2" cols="50" placeholder="Enter First and Last Name....."></input>
                                <br><br>
                                <h6>Enter Pin Number</h6>
                                <input id="addPin" rows="2" cols="50" placeholder="Enter Pin....."></input>
                                <br><br>
                                <h6>Enter Email Address</h6>
                                <input id="addEmail" rows="2" cols="50" placeholder="Enter Email....."></input>
                                <br><br>
                                <h6>Select Positions</h6>
                                <div id="checkboxArea">

                                </div>
                                <button class="btn btn-sm btn-default" id="submitUser">Submit</button>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <form id="form">
                                <h6>Delete Employee</h6>
                                <select class="chosen-select" id="dropdown2">

                                </select>
                                <br><br>
                                <button class="btn btn-sm btn-default" id="deleteEmployee">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Add a Shift</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form id="form">

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Add a Job Position</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <form id="form">
                                <h6>Enter Position Title</h6>
                                <input id="addPositionTitle" rows="2" cols="50" placeholder="Enter Position Title....."></input>
                                <br><br>
                                <button class="btn btn-sm btn-default" id="submitPosition">Submit</button>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <form id="form">
                                <h6>Delete Position</h6>
                                <select class="chosen-select" id="dropdown1">

                                </select>
                                <br><br>
                                <button class="btn btn-sm btn-default" id="deletePosition">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>